<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moa"
        tools:targetApi="31">
        <activity
            android:name=".mypage.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>
        <activity android:name="com.bookmoa.bookmoa.GroupActivity" />
        <activity android:name=".group.CommunityActivity"/>
        <activity android:name=".group.SearchActivity"/>
        <activity android:name=".group.InSearchActivity"/>
        <activity android:name=".group.NextLeaderActivity"/>
        <activity
            android:name=".group.MakeActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".group.ProfileActivity"/>
        <activity android:name=".group.WriteActivity"/>
        <activity
            android:name=".group.DialogJoinActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".group.DialogQuitActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".group.DialogExpelActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity android:name=".home.PassbookActivity"/>
        <activity android:name=".home.FocusmodeActivity"/>
    </application>

</manifest>